.VideoCall
{
    margin-top: 13vh;
}
.videoContainer
{
    width: 100%;
    padding: 1rem;
}
.localVideo
{
    flex:1;
}
.remoteVideo
{
    flex:1;
}
.videoBox
{
    padding: 0.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}
.controls
{
    display: flex;
    gap: 1rem;
    justify-content: center;
}