.messagesBox {
    width: 100%;
    margin-top: 13vh;
    height: 87vh;
}

.messagesContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    padding: 0.5rem;
}
.sideBar
{
    height: 100%;
    background-color: #d1e5f7;
    min-width: 24rem;
    flex: 0 0 23%;
    padding: 0.5rem;
    border-radius: 1.5rem;
}
.sideBartop
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    flex-wrap: nowrap;
}
.sideTitle
{
    flex:1;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0 0 0 0.5rem;
}
.usersBox
{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.emptyBox
{
  width: 100%;
  height: 100%;
  display:grid;
  place-items: center;
}
.user
{
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    /* background-color: crimson; */
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.user:hover
{
    background-color: #98ccfa;
}  
.usersBox .selected
{
    background-color: #43a2f5;
}

.profilePic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.profilePicsm {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.userInfo
{
    flex:1;
}
.userName
{
    font-size: 1.2rem;
    font-weight: 600;
}
.newChat
{
    font-size: 2rem;
}
.search {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 100%;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #7e7e7e;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color:transparent
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #7e7e7e;
  }
  .chatBox
  {
    min-width: 40rem;
    border-radius: 1.5rem;
    background-color: #d1e5f7;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
  }
  hr
  {
    margin: 0;
    padding: 0;
      border: 1px solid #7e7e7e;
  }
  .profileInteractions
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .interactions
  {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size:1.5rem;
    color: #213547;
  }
  .interactionBtn
  {
    display: grid;
    place-items: center;
    padding:1rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .interactionBtn:hover
  {
    background-color: #98ccfa;
    border-radius: 1rem;
  }
  .profileInfo
  {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        align-items: center;
  }
  .profileName
  {
        font-size: 1.2rem;
        font-weight: 600;
  }
  .messages
    {
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.message
{
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.messageContent
{
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #43a2f5;
  width: fit-content;
  margin-right: 1rem;
}
.sender
{
  justify-content: flex-end;
}
.receiver
{
  justify-content: flex-start;
}
.groupBox
{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.timestamp
{
  text-align: center;
  color: #7e7e7e;
}
.messageBox
{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.sendBtn
{
  color: #1d8cee;
  font-size: 1.2rem;
  cursor: pointer;
}
.sendBtn:hover
{
  color: #0f6ab4;
}
.sendBtn:focus
{
  outline: none;
}
.messageInput
{
  width: 95%;
  font-size: 1.2rem;
  padding:0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #43a2f5;
}
.messageInput:focus
{
  outline: none;
}
.messageInput::placeholder
{
  color: black;
}